# config.ini
[app]
project_name = SMS Proxy
api_version = /api/v1
debug = true
host = 0.0.0.0
port = 8000

[redis]
host = localhost
port = 6379
password = root
default_db = 0

[feishu]
webhook_url =
secret =

[mas]
app_id =
secret_key =
ec_name = 广州白云国际机场建设发展有限公司
api_url = https://112.35.10.201:28888/sms/norsubmit
sign =
